<a href="https://colab.research.google.com/github/saqibyafi20/Python_Practice/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Find the Smallest Element in a List.

In [7]:
nums = [10, 25, 3, 47, 19]
smallest = (min(nums))
print(smallest)

3

In [ ]:
# Reverse a List

In [9]:
nums = [1, 2, 3, 4]
nums.reverse()
print(nums)

[4, 3, 2, 1]

In [1]:
# Remove duplicates from a list while preserving the original order.

In [2]:
nums = [1, 2, 3, 2, 4, 1, 5]
unique = []

for n in nums:
    if n not in unique:
        unique.append(n)

print(unique)

[1, 2, 3, 4, 5]

In [3]:
# Find the second largest unique number in a list.

In [4]:
nums = [12, 45, 2, 45, 33, 33, 44]

unique_nums = list(set(nums))
unique_nums.sort(reverse=True)

print("Second largest:", unique_nums[1])

Second largest: 44

In [5]:
# Find Common Elements Between Two Lists.

In [10]:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]

common = [x for x in a if x in b]
print(common)

[3, 4]

In [11]:
# Multiply All Items in a List.

In [12]:
nums = [2, 3, 4]
product = 1
for n in nums:
    product *= n

print("Product:", product)

Product: 24

In [13]:
# Convert List of Characters to a String.

In [14]:
chars = ['P', 'y', 't', 'h', 'o', 'n']
word = ''.join(chars)
print(word)

Python