<a href="https://colab.research.google.com/github/saqibyafi20/Python_Practice/blob/main/List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Create a list of squares of numbers from 1 to 10.

In [3]:
squares = [x*x for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# Extract even numbers from a list.

In [6]:
nums = [1,2,3,4,5,6,7,8]
evens = [x for x in nums if x % 2 == 0]
evens

[2, 4, 6, 8]

In [7]:
# Convert all strings to uppercase.

In [8]:
names = ["saqib", "yafi", "python"]
upper_names = [name.upper() for name in names]
upper_names

['SAQIB', 'YAFI', 'PYTHON']

In [9]:
# Create a list of numbers divisible by 3 in range 1â€“50.

In [10]:
div_by_3 = [x for x in range(1, 51) if x % 3 == 0]
div_by_3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [11]:
# Get first letter of each word.

In [12]:
words = ["apple", "banana", "cat"]
first_letters = [w[0] for w in words]
first_letters

['a', 'b', 'c']

In [13]:
# Reverse each string in a list.

In [14]:
words = ["hello", "python"]
rev = [w[::-1] for w in words]
rev

['olleh', 'nohtyp']