### OPERATORS 
- Operators are special symbols that perform operations on variable and values

## TYPES OF OPERATORS
- ARITHMETIC OPERATORS
- COMPARISON OPERATOR
- LOGICAL OPERATOR
- ASSIGNMENT OPERATOR
- IDENTITY OPERATOR
- MEMBERSHIP OPERATOR
- BITWISE OPERATOR

#### ARITHMETIC OPERATOR:Operators that perform arithmetic operations
- addition (+)
- subtraction (-)
- Multiplication (*)
- Division (/)
- Floor Op (//)
- Exponential Op
- Modulo (%)

In [5]:
#addition
a=23
b=34
a+b

57

In [9]:
#division
a=20
b=10
a/b #2

2.0

In [27]:
#Floor division : floor value gives you  the nearest lowest digit
floor=5
b=2
floor//b

2

In [17]:
a=-5
b=2
a//b

-3

In [19]:
a=-5
b=2
a/b

-2.5

In [21]:
#exponential 
a=4
b=2
a**b #4 to the power 2

16

In [23]:
a=4
b=0
a**b #4^0

1

In [31]:
#Modulo: %: it will always give you the remainder of two values
a=23
b=2
a%b #23%2

1

In [29]:
floor

5

In [33]:
#PRECEDENCE OF OPERATORS
1+3-4*2-2 #BODMAS #PEMDAS

-6

In [ ]:
2 + 3 * 2 ** 2

In [ ]:
# write a program that Extract Digits from a 3-digit Number 
# output should be like:
# Hundreds:
# Tens:
# Units:
#for example 234
# Hundreds:2
# Tens:3
# Units:4   #use floor

In [86]:
num = 345

hundreds = num // 100
tens = (num % 100) // 10
units = num % 10
print("Hundreds:", hundreds)
print("Tens:", tens)
print("Units:", units)

Hundreds: 3
Tens: 4
Units: 5

In [ ]:
num = 345

hundreds = num // 100   #345/100=3.45
tens = (num % 100) // 10
units = num % 10  # 345%10 =
print("Hundreds:", hundreds)
print("Tens:", tens)
print("Units:", units)

In [2]:
# Convert Seconds to Hours, Minutes, and Seconds
total_seconds = 3672

hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60

print(f"{total_seconds} seconds = {hours} hour(s), {minutes} minute(s), {seconds} second(s)")

3672 seconds = 1 hour(s), 1 minute(s), 12 second(s)

### COMPARISON OPERATOR

<table>
  <thead>
    <tr>
      <th>Operator</th>
      <th>Name</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>==</td>
      <td>Equal</td>
      <td>x == y</td>
    </tr>
    <tr>
      <td>!=</td>
      <td>Not equal</td>
      <td>x != y</td>
    </tr>
    <tr>
      <td>&gt;</td>
      <td>Greater than</td>
      <td>x &gt; y</td>
    </tr>
    <tr>
      <td>&lt;</td>
      <td>Less than</td>
      <td>x &lt; y</td>
    </tr>
    <tr>
      <td>&gt;=</td>
      <td>Greater than or equal to</td>
      <td>x &gt;= y</td>
    </tr>
    <tr>
      <td>&lt;=</td>
      <td>Less than or equal to</td>
      <td>x &lt;= y</td>
    </tr>
  </tbody>
</table>

In [9]:
x = 10
y = 15
print('x > y  is',x > y)
print('x < y  is',x < y)
print('x == y is',x == y)    # single = is assignment operation, double == is equality(comparison) operation      
print('x != y is',x != y)
print('x >= y is',x >= y)
print('x <= y is',x <= y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

## Identity Operator :
- The identity operators compare the objects to determine whether they share the same memory and refer to the same object type (data type).
- 'is' Operator
- is not' Operator
- The 'is' operator evaluates to True if both the operand objects share the same memory location. The memory location of the object can be obtained by the "id()" function. If the "id()" of both variables is same, the "is" operator returns True.
- The 'is not' operator evaluates to True if both the operand objects do not share the same memory location or both operands are not the same objects.

In [3]:
a=10  #-236 to 237
b=10
a is not b

False

In [17]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]
c = a

# Comparing and printing return values
print(a is not c)
print(a is not b)

# Printing IDs of a, b, and c
print("id(a) : ", id(a))
print("id(b) : ", id(b))
print("id(c) : ", id(c))

False
True
id(a) :  1783962996672
id(b) :  1783962967232
id(c) :  1783962996672

In [1]:
#ASSIGNMENT OPERATOR
a=10
b=5
a+=b  #a=a+b

print(a-=b)

SyntaxError: invalid syntax (2894988871.py, line 6)

In [19]:
a=10  #Python caches small integers (from -5 to 256). This is called integer interning.
b=10
print(a is b)

True

## LOGICAL OPERATORS:
- Logical operators are used to combine conditional statements:
- AND Operator
- OR operator
- Not Operator

<table>
  <thead>
    <tr>
      <th>Operator</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>and</td>
      <td>Returns True if both statements are true</td>
      <td>x &lt; 5 and x &lt; 10</td>
    </tr>
    <tr>
      <td>or</td>
      <td>Returns True if one of the statements is true</td>
      <td>x &lt; 5 or x &lt; 4</td>
    </tr>
    <tr>
      <td>not</td>
      <td>Reverse the result, returns False if the result is true</td>
      <td>not(x &lt; 5 and x &lt; 10)</td>
    </tr>
  </tbody>
</table>

In [24]:
x = 10
print(x > 5 and x < 15)

#This returns True because 10 is greater than 5 AND 10 is less than 15.


#or
x = 10
print(x > 5 or x < 2)

#This returns True because one of the conditions are true.
#10 is greater than 5, but 10 is not less than 2.


#not
x = 10
print(not(x > 5 and x < 15))
#This returns False because not reverses the result of and.

True
True
False

### Python Membership Operators
- Membership operators are used to test if a sequence is presented in an object
- The "in" operator is used to check whether a substring is present in a bigger string, any item is present in a list or tuple, or a sub-list or sub-tuple is included in a list or tuple.
- The "not in" operator is used to check a sequence with the given value is not present in the object like string, list, tuple, etc.

<table>
  <thead>
    <tr>
      <th>Operator</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>in</td>
      <td>Returns True if a sequence with the specified value is present in the object</td>
      <td>x in y</td>
    </tr>
    <tr>
      <td>not in</td>
      <td>Returns True if a sequence with the specified value is not present in the object</td>
      <td>x not in y</td>
    </tr>
  </tbody>
</table>

In [29]:
var = "TutorialsPoint"
a = "P"
b = "tor"
c = "in"
d = "To"
print (a, "in", var, ":", a in var)
print (b, "in", var, ":", b in var)
print (c, "in", var, ":", c in var)
print (d, "in", var, ":", d in var)

P in TutorialsPoint : True
tor in TutorialsPoint : True
in in TutorialsPoint : True
To in TutorialsPoint : False

In [15]:
var = "TutorialsPoint"
a = "P"
b = "tor"
c = "in"
d = "To"
print (a, "not in", var, ":", a not in var)
print (b, "not in", var, ":", b not in var)
print (c, "not in", var, ":", c not in var)
print (d, "not in", var, ":", d not in var)

P not in TutorialsPoint : False
tor not in TutorialsPoint : False
in not in TutorialsPoint : False
To not in TutorialsPoint : True

In [33]:
var = [10,20,30,40]
a = 20
b = 10
c = a-b
d = a/2
print (a, "in", var, ":", a in var)
print (b, "not in", var, ":", b not in var)
print (c, "in", var, ":", c in var)
print (d, "not in", var, ":", d not in var)

20 in [10, 20, 30, 40] : True
10 not in [10, 20, 30, 40] : False
10 in [10, 20, 30, 40] : True
10.0 not in [10, 20, 30, 40] : False

## BITWISE OPERATORS 
- Python bitwise operators are normally used to perform bitwise operations on integer-type objects.However, instead of treating the object as a whole, it is treated as a string of bits.
- The following are the bitwise operators in Python -

-  Bitwise AND Operator
-  Bitwise OR Operator
-  Bitwise XOR Operator
-  Bitwise NOT Operator
-  Bitwise Left Shift Operator
-  Biwtise Right Shift Operator

<table>
  <thead>
    <tr>
      <th>Operator</th>
      <th>Name</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&amp;</td>
      <td>AND</td>
      <td>Sets each bit to 1 if both bits are 1</td>
      <td>x &amp; y</td>
    </tr>
    <tr>
      <td>|</td>
      <td>OR</td>
      <td>Sets each bit to 1 if one of two bits is 1</td>
      <td>x | y</td>
    </tr>
    <tr>
      <td>^</td>
      <td>XOR</td>
      <td>Sets each bit to 1 if only one of two bits is 1</td>
      <td>x ^ y</td>
    </tr>
    <tr>
      <td>~</td>
      <td>NOT</td>
      <td>Inverts all the bits</td>
      <td>~x</td>
    </tr>
    <tr>
      <td>&lt;&lt;</td>
      <td>Zero fill left shift</td>
      <td>Shift left by pushing zeros in from the right and let the leftmost bits fall off</td>
      <td>x &lt;&lt; 2</td>
    </tr>
    <tr>
      <td>&gt;&gt;</td>
      <td>Signed right shift</td>
      <td>Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off</td>
      <td>x &gt;&gt; 2</td>
    </tr>
  </tbody>
</table>

In [55]:
a = 10  # 0b1010
b = 6   # 0b0110
print("Bitwise AND operation         :",a & b)       # 0b1010 & 0b0110 = 0b0010 = 2
print("Bitwise or operation          :",a | b)       # 0b1010 | 0b0110 = 0b1110 = 14
print("Bitwise XOR operation         :",a ^ b)       # 0b1010 ^ 0b0110 = 0b1100 = 12
print("Bitwise NOT operation         :",~a)          # ~10 = -11
print("Bitwise LEFT SHIFT operation  :",a << 1)      # 10 << 1 = 20print(a >> 1)      # 10 >> 1 = 5
print("Bitwise RIGHT SHIFT operation :",a >> 1)      # 10 >> 1 = 5

Bitwise AND operation         : 2
Bitwise or operation          : 14
Bitwise XOR operation         : 12
Bitwise NOT operation         : -11
Bitwise LEFT SHIFT operation  : 20
Bitwise RIGHT SHIFT operation : 5

In [61]:
print(bin(4))

0b100

============================================================================================================

#### 1. Write a program that takes a single character input from the user and Returns "True" if it is one of 'a', 'e', 'i', 'o', 'u'.otherwise Return "False".

In [79]:
cha=input("Enter Character : ")
result=cha in "aeiouAEIOU"
print("Character Entered by user is Vowel : ",result)

Enter Character :  I

Character Entered by user is Vowel :  True

#### 2.Round a positive float down to the nearest Lowest integer using only operators.

In [74]:
x = 7.8
print(x // 1)  # â†’ 7.0

7.0

#### 3. Write a program that takes a single character input from the user and Returns "True" if it is Consonant.otherwise Return "False".

In [90]:
cha=input("Enter Character : ")
result=cha  not in "aeiouAEIOU"
print("Character Entered by user is Consonant : ",result)

Enter Character :  p

Character Entered by user is Consonant :  True

In [16]:
a="hellowkdwkdwopd#kwododkqowpwkdqopqpoeqpoeiqpoei"
b="hellowkdwkdwopd#kwododkqowpwkdqopqpoeqpoeiqpoei"
print(a is  b)

False