<a href="https://colab.research.google.com/github/saqibyafi20/Python_Practice/blob/main/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ARITHMETIC OPERATORS

In [1]:
# Compute (a + b) * c .

In [2]:
a, b, c = 2, 3, 4
result = (a + b) * c
result

20

In [3]:
# Find Remainder of 17 รท 4 .

In [4]:
result = 17 % 4
result

1

In [5]:
# Find 2 to the Power 5 .

In [6]:
result = 2 ** 5
result

32

In [7]:
# Relational / Comparison Operators

In [8]:
# Check if a Number is Greater Than Another

In [9]:
a, b = 10, 8
result = a > b
result

True

In [10]:
# Check if Two Strings are Equal

In [11]:
result = "python" == "python"
result

True

In [12]:
# Check if 5 is Not Equal to 10

In [13]:
result = 5 != 10
result

True

In [14]:
# Check if Age is Between 18 and 60

In [15]:
age = 25
result = 18 <= age <= 60
result

True

In [16]:
# Assignment Operators

In [17]:
# Use += to Add 10 to a Number

In [19]:
x = 5
x += 10
x

15

In [20]:
# Use -= to Decrease Value

In [21]:
x = 20
x -= 5
x

15

In [22]:
# Membership Operators

In [23]:
# Check if Value Exists in List

In [24]:
nums = [1,2,3,4]
result = 3 in nums
result

True

In [25]:
# Check if Character Not in String

In [26]:
result = "z" not in "python"
result

True