<a href="https://colab.research.google.com/github/saqibyafi20/Python_Practice/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Swap two variables using tuples

In [2]:
a, b = 5, 10
a, b = b, a
print(a, b)

10 5

In [3]:
# Convert a tuple to a comma-separated string

In [4]:
t = ("Python", "Java", "C++")
result = ",".join(t)
print(result)

Python,Java,C++

In [5]:
# Check if an element exists in a tuple

In [6]:
t = (5, 10, 15, 20)
print(15 in t)

True

In [7]:
# Find index of an element in a tuple

In [8]:
t = ("a", "b", "c", "d")
print(t.index("c"))

2

In [9]:
# Count occurrences in a tuple

In [10]:
t = (1,2,2,3,3,3)
print(t.count(3))

3

In [11]:
# Multiply a tuple

In [12]:
t = (1, 2)
print(t * 3)

(1, 2, 1, 2, 1, 2)